body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #043A2A;
}

/* Reset some default spacing */
body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;}
    
    /* Navbar container */
    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #FFBF00;
        padding: 10px 30px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    }
    
    /* Left side (icon + logo) */
    .nav-left {
        display: flex;
        align-items: center;
        gap: 15px;
    }
    
    /* Settings icon */
    .icon {
        width: 40px;
        cursor: pointer;
    }
    
    /* Logo */
    .logo {
        height: 50px;
    }
    
    /* Navigation links */
    .nav-links {
        display: flex;
        gap: 30px;
        align-items: center;
    }
    
    .nav-links a {
        text-decoration: none;
        color: black;
        font-weight: bold;
        transition: 0.3s;
    }
    
    /* Hover effect */
    .nav-links a:hover {
        color: white;
    }
    
    
    /* Hero container */
    .hero {
        position: relative;
        margin: 40px;
        background-color: #E6A800; /* yellow/orange */
        border-radius: 50px;
        padding: 60px;
        overflow: hidden;
        min-height: 500px;
        background-image: url("hp.jpg");
        background-position: center;
        background-size: 100% 100%;
    }
    
    /* Text on top */
    .hero-content {
        position: relative;
        z-index: 2;
        max-width: 600px;
    }
    
    .hero h1 {
        font-size: 60px;
        color: #043A2A;
        margin-bottom: 10px;
    }
    
    .hero p {
        color: #043A2A;
        font-size: 18px;
    }
    
    /* Puppy image */
    .hero-img {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 600px;
        z-index: 1;
    }
    
    /* Button */
    .hero-btn {
        position: absolute;
        bottom: 40px;
        left: 50%;
        transform: translateX(-50%);
        padding: 12px 25px;
        border: none;
        border-radius: 25px;
        background-color: #EEE8DC;
        font-weight: bold;
        cursor: pointer;
        z-index: 2;
        text-decoration: none;   
        color: black;           
        display: inline-block;
        
        transition: 0.3s;
    }
    .hero-btn:hover {
        background-color: #f5dd97;
        transform: translateX(-50%) scale(1.05);}
        
        .account-container {
            display: flex;
            margin: 40px;
            background-color: #F4B400;
            border-radius: 40px;
            overflow: hidden;
            min-height: 600px;
        }
        
        /* Left side */
        .account-left {
            width: 50%;
            background-color: #F4B400;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        .account-left img {
            width: 80%;
        }
        
        /* Right side */
        .account-right {
            width: 50%;
            padding: 50px;
        }
        
        .account-right h2 {
            font-weight: bold;
            margin-bottom: 30px;
        }
        
        /* Inputs */
        .account-right input {
            width: 100%;
            padding: 15px;
            margin-bottom: 20px;
            border: none;
            border-radius: 15px;
            background-color: #cde5e5;
        }
        
        /* Button */
        .next-btn {
            display: inline-block;
            margin: 20px auto;
            padding: 10px 30px;
            border: none;
            border-radius: 20px;
            background-color: #cde5e5;
            font-weight: bold;
            transition: 0.3s;
            text-decoration: none;
            color: black;
        }
        
        /* Hover effect */
        .next-btn:hover {
            background-color: white;
            transform: scale(1.05);
        }
        
        /* Icons */
        .social-icons {
            text-align: center;
            margin-top: 20px;
        }
        
        .social-icons i {
            font-size: 25px;
            margin: 10px;
            background-color: #cde5e5;
            padding: 10px;
            border-radius: 10px;
            cursor: pointer;
            transition: 0.3s;
            text-decoration: none;
            color: black;
        }
        
        .social-icons i:hover {
            background-color: white;
        }
        
        /* Login link */
        .login-link {
            text-align: right;
            margin-top: 20px;
        }
        
        .login-link a {
            text-decoration: none;
            color: black;
            font-weight: bold;
            transition: 0.3s;
        }
        
        .login-link a:hover {
            color: white;
        }
        .aboutus-text{
            color:  #fffcfc;
        }
        .aboutus{
            position: relative;
            margin: 40px;
            background-color: #043A2A; /*To check why it is not coming green*/
            border-radius: 50px;
            padding: 60px;
            overflow: hidden;
            min-height: 500px;
            background-image: url("Abtus.jpg");
            background-position: center;
            background-size: 100% 100%;
            background-image:
            linear-gradient(rgba(0, 0, 0, 0.302), hsla(0, 0%, 0%, 0.302)),
            url("Abtus.jpg");
        }
        
        /* Smooth scrolling */
        html {
            scroll-behavior: smooth;
        }
        
        /* About section */
        .about-us {
            height: 100vh;
            padding: 100px;
            background: #f5f5f5;
        }
        
        /* Professional button */
        .more-btn {
            display: inline-block;
            margin-top: 25px;
            padding: 14px 35px;
            
            color: #ffffff;
            text-decoration: none;
            font-size: 18px;
            font-weight: bold;
            border-radius: 40px;
            transition: 0.3s ease;
        }
        
        /* Hover effect */
        .more-btn:hover {
            background-color: #e6762f;
            transform: translateY(-3px);
        }
        
        /* Video section */
        .video-section {
            padding: 100px;
            text-align: center;
            background: #E6A800;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        
        /* Video styling */
        .video-section video {
            box-shadow: 0 10px 30px #00000033;
            width: 90%;
            max-width: 1100px;
            border-radius: 20px;
        }
        .video-section h2 {
            color: #EEE8DC;
            font-size: 48px;
            margin-bottom: 40px;
            margin-top: -30px;
        }
        .next-btn {
            display: inline-block;
            margin-top: 30px;
            padding: 14px 35px;
            margin-top: 40px;
            background-color: #EEE8DC;
            color: #000000;
            
            text-decoration: none;
            font-size: 18px;
            font-weight: bold;
            
            border-radius: 50px;
            
            transition: 0.3s ease;
        }
        
        .next-btn:hover {
            background-color: #e5d9c1;
            transform: translateY(-5px);
        }
        /* Footer */
        .footer {
            background-color: #042f22;
            border-top: 10px solid #042f22;
            padding: 50px 70px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            color: white;
            
            font-family: Arial, sans-serif;
        }
        
        /* Left side */
        .footer-left h2 {
            font-size: 30px;
            margin-bottom: 50px;
        }
        
        .footer-left p {
            font-size: 15px;
            margin: 30px 0;
            font-weight: bold;
        }
        
        /* Email link */
        .footer-left a {
            color: white;
        }
        
        /* Copyright */
        .copyright {
            margin-top: 50px;
            font-size: 18px;
        }
        
        /* Right logo */
        .footer-right img {
            width: 330px;
            
            border-radius: 35px;
        }
        .notification-wrapper{
            width:95%;
            min-height:100vh;
            padding:40px 30px 60px;
            display:flex;
            justify-content:center;
            align-items:flex-start;
            position:relative;
        }
        
        .notification-box{
            width:95%;
            max-width:1350px;
            min-height:760px;
            background:#01251a;
            border-radius:45px;
            position:relative;
            overflow:hidden;
            padding:70px 60px;
            box-shadow:
            0 12px 35px #0000002e,
            inset 0 0 0 2px #ffffff08;
        }
        
        /*CLOSE BUTTON */
        
        .close-btn{
            position:absolute;
            top:28px;
            right:32px;
            
            width:60px;
            height:60px;
            
            border-radius:50%;
            border:none;
            
            background:transparent;
            color:#FFC400;
            
            font-size:2.5rem;
            cursor:pointer;
            
            transition:0.3s ease;
        }
        
        .close-btn:hover{
            transform:scale(1.18) rotate(8deg);
            color:#FFD84D;
        }
        
        .close-btn:active{
            transform:scale(0.95);
        }
        
        /* PAWS */
        
        .paw{
            position:absolute;
            z-index: 20;
            color:#FFF9E9;
            opacity:0.95;
            animation:floatPaw 4s ease-in-out infinite;
        }
        
        .paw1{
            top:35px;
            left:70px;
            font-size:5rem;
            transform:rotate(-20deg);
            animation-delay: 1s;
        }
        
        .paw2{
            bottom:55px;
            right:70px;
            font-size:5rem;
            transform:rotate(20deg);
            animation-delay:1s;
        }
        
        .paw3{
            bottom:130px;
            right:170px;
            font-size:4rem;
            transform:rotate(-10deg);
            animation-delay:2s;
        }
        
        @keyframes floatPaw{
            0%{
                transform:translateY(0px);
            }
            
            50%{
                transform:translateY(-10px);
            }
            
            100%{
                transform:translateY(0px);
            }
        }
        
        /* TITLE */
        
        .page-title{
            text-align:center;
            color:#FFC400;
            font: size 3em;
            margin-bottom:40px;
            letter-spacing:2px;
            text-shadow:3px 3px 0px #00000026;
        }
        
        /* CAROUSEL */
        
        .carousel-container{
            width:100%;
            position:relative;
            display:flex;
            align-items:center;
            justify-content:center;
        }
        
        .carousel-track-container{
            width:100%;
            overflow:hidden;
        }
        
        .carousel-track{
            display:flex;
            transition:transform 0.5s ease;
            gap: 30px;
        }
        
        /* CARDS */
        
        .post-card{
            min-width:400px;
            max-width:400px;
            background:#EFBF3F;
            border-radius:35px;
            overflow:hidden;
            flex-shrink:0;
            box-shadow:
            0 12px 30px rgba(0,0,0,0.25);
            transition:0.35s ease;
            position:relative;
        }
        
        .post-card:hover{
            transform:translateY(-8px) scale(1.02);
        }
        
        .card-header{
            padding:18px;
            text-align:center;
            font-size:2.7rem;
            font-weight:800;
            color:#000;
            background:#EFBF3F;
        }
        
        .card-image{
            width:100%;
            height:500px;
            object-fit:cover;
            display:block;
        }
        
        .card-content{
            position:absolute;
            top:120px;
            left:18px;
            right:18px;
            display:flex;
            flex-direction:column;
            gap:12px;
        }
        
        .info-box{
            background:rgba(255,249,233,0.95);
            padding:12px 16px;
            border-radius:14px;
            font-size:1rem;
            line-height:1.4;
            font-weight:600;
            color:#222;
            box-shadow:0 5px 15px #00000014;
        }
        
        .pet-info{
            display:flex;
            justify-content:space-between;
            gap:10px;
            flex-wrap:wrap;
        }
        
        .tag{
            background:#FFC400;
            padding:8px 14px;
            border-radius:12px;
            font-weight:800;
            color:#000;
            font-size:0.95rem;
        }
        
        /* BUTTONS */
        
        .carousel-btn{
            width:65px;
            height:65px;
            border:none;
            border-radius:50%;
            background:#FFC400;
            color:#000;
            font-size:1.6rem;
            cursor:pointer;
            position:absolute;
            z-index:5;
            transition:0.3s ease;
            box-shadow:0 6px 18px #0000002e;
        }
        
        .carousel-btn:hover{
            transform:scale(1.12);
            background:#FFD84D;
        }
        
        .prev-btn{
            left:-20px;
        }
        
        .next-btn{
            right:-20px;
        }
        
        /* INDICATORS */
        
        .dots{
            margin-top:35px;
            display:flex;
            justify-content:center;
            gap:12px;
        }
        
        .dot{
            width:14px;
            height:14px;
            border-radius:50%;
            background:#C7B98B;
            transition:0.3s ease;
            cursor:pointer;
        }
        
        .dot.active{
            background:#FFC400;
            transform:scale(1.2);
        }
        
        /* RESPONSIVE */
        
        @media(max-width:1100px){
            
            .notification-box{
                padding:50px 40px;
                width: 90%;
                max-width: 1150px;
                min-height: 620px;
            }
            
            .post-card{
                min-width: 320px;
                max-width: 320px;
            }
            
            .carousel-btn{
                display:none;
            }
        }
        
        @media(max-width:700px){
            
            .notification-box{
                border-radius:30px;
                padding:70px 18px;
                
            }
            
            .page-title{
                font-size:2.5rem;
            }
            
            .card-header{
                font-size:2rem;
            }
            
            .card-image{
                height: 380px;
            }
            
            .paw{
                opacity:0.4;
            }
        }
        /*Contuct us - CSS*/
        margin:0;
        padding:0;
        box-sizing:border-box;
    
    
/*Contact Us Start hear*/
    
    /* Background Image */
    
    .contact-section{
        width:100%;
        min-height:100vh;
        background:
        linear-gradient(#00000059, #00000059),
        url('Contuct\ us\ 2.jpg');
        background-size:cover;
        background-position:center;
        display:flex;
        justify-content:center;
        align-items:center;
        padding:120px 20px 80px;
        position:relative;
    }
    
    /* Rectangle */
    
    .contact-container{
        width:1100px;
        max-width:100%;
        display:flex;
        border-radius:40px;
        overflow:hidden;
        box-shadow:0 15px 40px rgba(0,0,0,0.35);
        backdrop-filter:blur(4px);
        animation:fadeUp 1s ease;
    }
    
    /* LEFT SIDE */
    
    .contact-left{
        width:35%;
        background:#0d5a47;
        color:white;
        padding:60px 50px;
        display:flex;
        flex-direction:column;
        justify-content:center;
        position:relative;
    }
    
    .contact-left h1{
        font-size:30px;
        color:#ffc400;
        margin-bottom:20px;
        line-height:1;
    }
    
    .contact-left p{
        font-size:10px;
        line-height:1.6;
        color:#f1f1f1;
        margin-bottom:50px;
    }
    
    .contact-info{
        display:flex;
        flex-direction:column;
        gap:20px;
    }
    
    .info-item{
        display:flex;
        align-items:center;
        gap:20px;
        font-size:22px;
        font-weight:500;
    }
    
    .info-item i{
        width: 40px;
        height: 40px;
        background:#ffc400;
        color:#0d5a47;
        border-radius:15px;
        display:flex;
        justify-content:center;
        align-items:center;
        font-size:20px;
        transition:0.3s;
    }
    
    .info-item:hover i{
        transform:scale(1.1) rotate(5deg);
    }
    
    .phone-box{
        margin-top:40px;
        border-top:2px solid rgba(255,255,255,0.4);
        padding-top:35px;
        display:flex;
        align-items:center;
        gap:20px;
    }
    
    .phone-box i{
        width:60px;
        height:60px;
        background:#ffc400;
        color:#0d5a47;
        border-radius:50%;
        display:flex;
        justify-content:center;
        align-items:center;
        font-size:26px;
    }
    
    .phone-box span{
        font-size:15px;
        font-weight:600;
        line-height:1.5;
    }
    
    /* RIGHT SIDE */
    
    .contact-right{
        width:58%;
        background:#ffc400;
        padding:55px 55px 45px;
    }
    
    .contact-right h2{
        font-size:30px;
        color:white;
        margin-bottom:35px;
    }
    
    .form-row{
        display:flex;
        gap:20px;
        margin-bottom:25px;
    }
    
    .input-group{
        width:100%;
        display:flex;
        flex-direction:column;
    }
    
    .input-group label{
        margin-bottom:10px;
        font-size:16px;
        font-weight:600;
        color:#000000;
    }
    
    .input-group input,
    .input-group textarea{
        border:none;
        outline:none;
        background:#d6f1f2;
        border-radius:18px;
        padding:18px 20px;
        font-size:18px;
        transition:0.3s;
    }
    
    .input-group input:focus,
    .input-group textarea:focus{
        transform:scale(1.02);
        box-shadow:0 0 15px rgba(0,0,0,0.15);
    }
    
    textarea{
        resize:none;
        height:170px;
    }
    
    /* BUTTON */
    
    .send-btn{
        width:100%;
        margin-top:25px;
        padding:18px;
        border:none;
        border-radius:40px;
        background:#d6f1f2;
        color:black;
        font-size:2px;
        font-weight:700;
        cursor:pointer;
        transition:0.3s;
    }
    
    .send-btn:hover{
        background:white;
        transform:translateY(-4px);
        box-shadow:0 10px 20px rgba(0,0,0,0.2);
    }
    
    /* POPUP */
    
    .popup{
        position:fixed;
        top:50%;
        left:50%;
        transform:translate(-50%, -50%) scale(0);
        background:white;
        width:400px;
        border-radius:30px;
        padding:40px;
        text-align:center;
        z-index:1000;
        transition:0.4s;
        box-shadow:0 20px 50px rgba(0,0,0,0.4);
    }
    
    .popup.active{
        transform:translate(-50%, -50%) scale(1);
    }
    
    .popup i{
        font-size:70px;
        color:#0d5a47;
        margin-bottom:20px;
    }
    
    .popup h3{
        font-size:36px;
        margin-bottom:15px;
    }
    
    .popup p{
        font-size:10px;
        color:#555;
        margin-bottom:25px;
    }
    
    .popup button{
        padding:14px 35px;
        border:none;
        background:#ffc400;
        border-radius:30px;
        font-size:20px;
        font-weight:600;
        cursor:pointer;
        font-family:'Fredoka', sans-serif;
    }
    
    /* OVERLAY */
    
    .overlay{
        position:fixed;
        inset:0;
        background:rgba(0,0,0,0.5);
        opacity:0;
        pointer-events:none;
        transition:0.4s;
        z-index:999;
    }
    
    .overlay.active{
        opacity:1;
        pointer-events:all;
    }
    
    /* ANIMATION */
    
    @keyframes fadeUp{
        from{
            opacity:0;
            transform:translateY(50px);
        }
        to{
            opacity:1;
            transform:translateY(0);
        }
    }
    
    /* RESPONSIVE */
    
    @media(max-width:950px){
        
        .contact-container{
            flex-direction:column;
        }
        
        .contact-left,
        .contact-right{
            width:100%;
        }
        
        .contact-left{
            padding:50px 35px;
        }
        
        .contact-right{
            padding:45px 35px;
        }
        
        .form-row{
            flex-direction:column;
        }
        
        .contact-left h1{
            font-size:45px;
        }
        
        .contact-right h2{
            font-size:42px;
        }
        
    }
    